<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blood Bank</title>
        <!-- fontawesome  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- bs css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <!-- css  -->
            <link rel="stylesheet" href="/style/global.css">
     <link rel="stylesheet" href="style/header.css">

            <style>
                .bloodBank-img-wrap{
                    height: 70px;
                    width: 70px;
                    background-color: #0A5F98;
                    color: white;
                    text-align: center;
                }
                .css-display{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    gap: 10px;
                }
                .modal-header{
                    background-color: var(--mainColorLight);
                    color: white;
                }

                .stretch-card>.card {
            width: 100%;
            min-width: 100%
        }
        body {
            background-color: #F9F9FA
        }
        .flex {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto
        }
        @media (max-width:991.98px) {
            .padding {
                padding: 1.5rem
            }
        }
        @media (max-width:767.98px) {
            .padding {
                padding: 1rem
            }
        }
        .padding {
            padding: 3rem
        }
        .box.box-warning {
            border-top-color: #F39C12;
        }
        .box {
            position: relative;
            border-radius: 3px;
            background: #FFFFFF;
            border-top: 3px solid #D2D6DE;
            margin-bottom: 20px;
            width: 100%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }
        .box-header.with-border {
            border-bottom: 1px solid #F4F4F4
        }
        .box-header.with-border {
            border-bottom: 1px solid #F4F4F4;
        }
        .box-header {
            color: #444;
            display: block;
            padding: 10px;
            position: relative;
        }
        .box-header:before,
        .box-body:before,
        .box-footer:before,
        .box-header:after,
        .box-body:after,
        .box-footer:after {
            content: " ";
            display: table;
        }
        .box-header {
            color: #444;
            display: block;
            padding: 10px;
            position: relative
        }
        .box-header>.fa,
        .box-header>.glyphicon,
        .box-header>.ion,
        .box-header .box-title {
            display: inline-block;
            font-size: 18px;
            margin: 0;
            line-height: 1;
        }
        .box-header>.box-tools {
            position: absolute;
            right: 10px;
            top: 5px;
        }
        .box-header>.box-tools [data-toggle="tooltip"] {
            position: relative;
        }
        .bg-yellow,
        .callout.callout-warning,
        .alert-warning,
        .label-warning,
        .modal-warning .modal-body {
            background-color: #F39C12 !important;
        }
        .bg-yellow {
            color: #fff !important;
        }
        .btn {
            border-radius: 3px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid transparent;
        }
        .btn-box-tool {
            padding: 5px;
            font-size: 12px;
            background: transparent;
            color: #97A0B3;
        }
        .direct-chat .box-body {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            position: relative;
            overflow-x: hidden;
            padding: 0;
        }
        .box-body {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 10px;
        }
        .box-header:before,
        .box-body:before,
        .box-footer:before,
        .box-header:after,
        .box-body:after,
        .box-footer:after {
            content: " ";
            display: table;
        }
        .direct-chat-messages {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            padding: 10px;
            height: 250px;
            overflow: auto;
        }
        .direct-chat-messages,
        .direct-chat-contacts {
            -webkit-transition: -webkit-transform .5s ease-in-out;
            -moz-transition: -moz-transform .5s ease-in-out;
            -o-transition: -o-transform .5s ease-in-out;
            transition: transform .5s ease-in-out;
        }
        .direct-chat-msg {
            margin-bottom: 10px;
        }
        .direct-chat-msg,
        .direct-chat-text {
            display: block;
        }
        .direct-chat-info {
            display: block;
            margin-bottom: 2px;
            font-size: 12px;
        }
        .direct-chat-timestamp {
            color: #999;
        }
        .btn-group-vertical>.btn-group:after,
        .btn-group-vertical>.btn-group:before,
        .btn-toolbar:after,
        .btn-toolbar:before,
        .clearfix:after,
        .clearfix:before,
        .container-fluid:after,
        .container-fluid:before,
        .container:after,
        .container:before,
        .dl-horizontal dd:after,
        .dl-horizontal dd:before,
        .form-horizontal .form-group:after,
        .form-horizontal .form-group:before,
        .modal-footer:after,
        .modal-footer:before,
        .modal-header:after,
        .modal-header:before,
        .nav:after,
        .nav:before,
        .navbar-collapse:after,
        .navbar-collapse:before,
        .navbar-header:after,
        .navbar-header:before,
        .navbar:after,
        .navbar:before,
        .pager:after,
        .pager:before,
        .panel-body:after,
        .panel-body:before,
        .row:after,
        .row:before {
            display: table;
            content: " ";
        }
        .direct-chat-img {
            border-radius: 50%;
            float: left;
            width: 40px;
            height: 40px;
        }
        .direct-chat-text {
            border-radius: 5px;
            position: relative;
            padding: 5px 10px;
            background: #D2D6DE;
            border: 1px solid #D2D6DE;
            margin: 5px 0 0 50px;
            color: #444;
        }
        .direct-chat-msg,
        .direct-chat-text {
            display: block;
        }
        .direct-chat-text:before {
            border-width: 6px;
            margin-top: -6px;
        }
        .direct-chat-text:after,
        .direct-chat-text:before {
            position: absolute;
            right: 100%;
            top: 15px;
            border: solid transparent;
            border-right-color: #D2D6DE;
            content: ' ';
            height: 0;
            width: 0;
            pointer-events: none;
        }
        .direct-chat-text:after {
            border-width: 5px;
            margin-top: -5px;
        }
        .direct-chat-text:after,
        .direct-chat-text:before {
            position: absolute;
            right: 100%;
            top: 15px;
            border: solid transparent;
            border-right-color: #D2D6DE;
            content: ' ';
            height: 0;
            width: 0;
            pointer-events: none;
        }
        :after,
        :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .direct-chat-msg:after {
            clear: both;
        }
        .direct-chat-msg:after {
            content: " ";
            display: table;
        }
        .direct-chat-info {
            display: block;
            margin-bottom: 2px;
            font-size: 12px;
        }
        .right .direct-chat-img {
            float: right;
        }
        .direct-chat-warning .right>.direct-chat-text {
            background: #F39C12;
            border-color: #F39C12;
            color: #fff;
        }
        .right .direct-chat-text {
            margin-right: 50px;
            margin-left: 0;
        }
        .box-footer {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top: 1px solid #F4F4F4;
            padding: 10px;
            background-color: #fff;
        }
        .box-header:before,
        .box-body:before,
        .box-footer:before,
        .box-header:after,
        .box-body:after,
        .box-footer:after {
            content: " ";
            display: table;
        }
        .input-group-btn {
            position: relative;
            font-size: 0;
            white-space: nowrap;
        }
        .input-group-btn:last-child>.btn,
        .input-group-btn:last-child>.btn-group {
            z-index: 2;
            margin-left: -1px;
        }
        .btn-warning {
            color: #fff;
            background-color: #F0AD4E;
            border-color: #EEA236;
        }
        /* custom  */
        #hide-chat{
          width: 445px;
          position: relative;
        }
        .css-chat{
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          position: fixed;
          bottom: 15px;
          right: 15px;
        }
                /* chat design css end  */
                /* chat open start  */
.chat-open-wrap{
  position: fixed;
  bottom: 70px;
  right: 55px;
}
.chat-open{
  width: 60px;
  height: 60px;
  border: 1px solid var(--mainColorLight);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--mainColorLight);
  font-size: 24px;
  cursor: pointer;
  transition:0.2s ease-in;
}
.chat-open:hover{
 color: var(--textColor);
}
                /* chat open end  */
            </style>

</head>
<body>
    <%- include('../partials/navbar2') %>
    
    <div class="container" style="padding-top: 120px;">
        <!-- Modal start-->
        <!-- Modal end-->
        <h1 class="section-title fw-bold">Available <span class="color-light">Doctors</span></h1>
      
        <div class="bloodBank-search-wrap">
            
        <form class="row g-3" action="/consultDoctor" method="get">
            <div class="col-md-6">
                <label for="province" class="form-label">Province</label>
                <select id="province" name="province" class="form-select"  onchange="updateDistricts()">
                  <option value=""></option>
                  <% provinces.forEach((province)=>{ %>
                    <option value="<%=province.name%>"><%=province.name%></option>
                 <% }) %>
                   
                </select>
            </div>
            <div class="col-md-4">
              <label for="district" class="form-label">District</label>
              <select id="district" name="district" class="form-select">
               
              </select>
            </div>
            <div class="col-md-2">
              <label for="localLevel" class="form-label">speciality</label>
              <select id="localLevel" name="localLevel" class="form-select"  >
                <option value=""></option>
                <option value="hand problem">hand problem</option>
                <option value="leg problem">leg problem</option>
                <option value="heart problem">heart problem</option>
               
              </select>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-sm border-0">Find</button>
            </div>
          </form>
        </div>
        <div class="bloodBank-lists mt-4">
            <div class="css-display">
                <% doctors.forEach((doctor) => { %>
                    <div class="modal fade" id='<%=doctor.name[0]%>' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header text-center">
                            <h5 class="modal-title" id="exampleModalLabel"><%=doctor.name%></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <p class="d-block w-100"> <span class="fw-bold"> Address: </span><%=doctor.province%>,<%=doctor.district%></p>
                              <p class="d-block w-100"> <span class="fw-bold"> Contact: </span><%=doctor.phone%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Speciality: </span><%=doctor.speciality%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Level: </span><%=doctor.level%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> RoomId: </span><%=doctor.roomId%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Available At: </span><%=doctor.availableTime%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Status: </span><span style="color: green;"><%=doctor.status%></span></</p>

                           
                          </div>
                          <div class="modal-footer d-flex justify-content-center gap-3">
                        <a href="/call/<%=doctor.roomId%>">     <button type="button" onclick="sendMessageDoctor('<%=doctor.roomId %>','<%= doctor.phone%>')" class="btn"  ><span><i class="fa-solid fa-phone"></i></span> </button>
                        </a> 

                                
                              
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" css-card d-flex gap-2 justify-content-center align-items-center shadow p-2  rounded" data-bs-toggle="modal" data-bs-target='#<%=doctor.name[0]%>' role="button"

                >
                  <div class="bloodBank-img-wrap d-flex justify-content-center align-items-center rounded-circle">
                   <p class="h1 m-0 p-0"><%=doctor.name[0]%></p>
                  </div>
                  <div class="bloodBank-info-wrap d-flex flex-column pt-3">
                    <p class="bloodBank-name fw-bold"><%=doctor.name%></p>
                    <p class="bloodBank-number text-success"><%=doctor.phone%></p>
                   
                  </div>
                </div>
                <% }) %>
               
        </div>
    </div>
    <div class="row container d-flex justify-content-center" id="hide-chat">
      <div class="col-md-4  css-chat">
          <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                  <h3 class="box-title">Talk with Doctor AI</h3>
                  <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" id="btn-chat-collapse" data-widget="collapse"><i
                              class="fa fa-minus"></i>
                      </button>
                  </div>
              </div>
              <div class="box-body">
                  <div class="direct-chat-messages">
                      <div class="direct-chat-msg">
                          <div class="direct-chat-info clearfix">
                              <span class="direct-chat-name pull-left">Doctor AI</span>
                          </div>
                          <img class="direct-chat-img"
                              src="https://static.vecteezy.com/system/resources/thumbnails/007/225/199/small/robot-chat-bot-concept-illustration-vector.jpg"
                              alt="message user image">
                          <div class="direct-chat-text" id="direct-chat-text">
                              Hello, How can I help you?
                          </div>
                      </div>
                      <div class="direct-chat-msg right" id="new-ele">
                          <div class="direct-chat-info clearfix">
                              <span class="direct-chat-name pull-right">Sarah Bullock</span>
                          </div>
                          <img class="direct-chat-img"
                              src="https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg"
                              alt="message user image">
                          <div class="direct-chat-text" id="userInputData">
                              I would love to.
                          </div>
                        
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                  <form action="#" method="post">
                      <div class="input-group">
                          <input type="text" name="question" placeholder="Type Message ..."
                              class="form-control" id="inputPrompt">
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-warning btn-flat"
                                  id="btn-send">Send</button>
                          </span>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
<!-- chat design html end -->
<!-- chat default icon START -->
  <div class="chat-open-wrap">
    <div class="chat-open">
      <i class="fa-solid fa-robot"></i>
    </div>
  </div>

<!-- chat default icon END  -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
  function updateDistricts() {
    let name = $('#province').val();
    if(name){
      $.get('/districtsByName', {name: name}, (data) => {
        let options = '';
        options += `<option value=""></option>`;
        data.forEach((district) => {

          options += `<option value="${district.name}">${district.name}</option>`;
        });
        $('#district').html(options);
      });
    }else{
      $('#district').html('');
    }
  }
  function updateLocalLevel() {
    let name = $('#district').val();
    if(name){
      $.get('/localLevelByName', {name: name}, (data) => {
        let options = '';
        options += `<option value=""></option>`;
        data.forEach((localLevel) => {

          options += `<option value="${localLevel.name}">${localLevel.name}</option>`;
        });
        $('#localLevel').html(options);
      });
    }else{
      $('#localLevel').html('');
    }
  }
  function sendMessageDoctor(roomId,phone){
    console.log(phone)
    console.log('clicked')
    fetch("/consultDoctor/sendMessage", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        message: "Some Patient wants to talk with you in room id : " + roomId,
        phone: "+977"+phone,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.log(error);
      });

  }
</script>
<script> function goToRoom(roomId){ 
  // $.get("/validate-meeting?meetingId="+roomId, function(data, status){
  //   console.log(data.data)
  //   if(data.status == 200){

  //     window.location.href = "/meeting?meetingId="+roomId;
  //   }else{
  //     alert("Meeting is not started yet");
  //   }
  // });
  fetch("/validate-meeting?meetingId="+roomId)
  .then(response => response.json())
  .then(data => {
    console.log(data)
    if(data.success == true){
      window.location.href = "/call"
    }else{
      alert("Meeting is not started yet");
    }
  })
}
</script>
<script>
  $(document).ready(function() {
    $('#hide-chat').removeClass('d-flex');
    $('#hide-chat').hide();

    $(".chat-open-wrap").click(function() {
      $('.chat-open-wrap').hide();
      $('#hide-chat').addClass('d-flex');
      $('#hide-chat').show();
});

// close chat window 

$("#btn-chat-collapse").click(function() {
  $('#hide-chat').removeClass('d-flex');
    $('#hide-chat').hide();
    $('.chat-open-wrap').show();
});
  });


</script>
<script>
  $(document).ready(function () {
      var chatList = document.querySelector(".direct-chat-messages");
      var botReturn = "Well done njnjdnjfndjfnjdfndjfndjfn";
      //generate template to add new user input data
      const generateTemplate = (val) => {

          chatList.innerHTML += `<div class="direct-chat-msg right" id="new-ele" >
                        <div class="direct-chat-info clearfix">
                          <span class="direct-chat-name pull-right">Sarah Bullock</span>
                      
                        </div>
                       
                       
            
                        <div class="direct-chat-text">
                          ${val}
                        </div>
                      
                      </div>`;

      };
      const generateTemplateBot = () => {
          chatList.innerHTML += `   <div class="direct-chat-msg">
                                  <div class="direct-chat-info clearfix">
                                      <span class="direct-chat-name pull-left">Doctor AI</span>
                                     
                                  </div>

                             

                                  <div class="direct-chat-text" id="direct-chat-text">
                                      
                                  </div>

                              </div>`;
      };
      $("#btn-send").click(function () {
          var myValue = $("#inputPrompt").val();
          fetch("/consultDoctor/doctorAi", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              },
              body: JSON.stringify({
                  question: myValue,
              }),
          })
              .then((response) => response.json())
              .then((data) => {
                  console.log(data);
                  document.querySelector('#direct-chat-text').innerHTML = data.response;
                  // alert(data.response);
              })
              .catch((error) => {
                  console.log(error);
              });
          if (myValue.length) {//only add if length is atleast 1
            document.getElementById('userInputData').innerHTML = myValue;
              // generateTemplate(myValue);
              // setTimeout(generateTemplateBot,3000);
        

          }

      });




  });
</script>
</html>