<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
        <!-- fontawesome  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- bs css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="/style/global.css">
            <link rel="stylesheet" href="/style/header.css">
            <style>
                /* .datashow-wrap .row{
                    height: ;
                } */
                .css-display{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    gap: 20px;
                    background-color: #E5E4E2;
                }
                .datashow-card{
                    height: 110px;
                    background-color: white;
                }
                .datashow-card p {
                    margin-bottom: 0 !important;
                }
            </style>
</head>
<body>
    <%- include('../partials/navbar') %>

   
        <div class="container " style="padding-top: 100px; padding-bottom: 50px;">
            <div class="blood-add-button-wrap w-100 d-flex justify-content-end position-fixed top-0 end-0 mt-4 mx-5" style="padding-top: 90px;">
              <span><a href="/bloodBank/dashboard/bloodGroup/add" class="btn-primary rounded"><i class="fa-solid fa-plus"></i> Add BloodGroup</a></span>
                
                <span style="margin-left:10px"><a href="/bloodBank/dashboard/bloodGroup/edit" class="btn-primary rounded"><i class="fa-solid fa-plus"></i> Edit BloodGroup</a></span>
            </div>
            
            <p class="h2 color-main fw-bold"><%=hospital.name %></p>
            <p class="h6 color-light"><%=hospital.localLevel %>,<%=hospital.district %>,<%=hospital.province %></p>
            <p class="h6 color-light"><%=hospital.email %></p>
            <p class="color-main h5  mt-8 mb-3 fw-bold d-block mx-2" style="margin-top:20px">Recent Appointments</p>
    
            <% bookAppointment.forEach((item)=>{ %>
                <div class="bloodRequest-card mt-4 p-2 shadow">
                    <div class="bloodRequest-card-body mt-4 p-2 shadow">
                        <table class="table">
                            <tbody>
                              <tr>
                                <th scope="row">Person Name:</th>
                                <td><%=item.name %></td>
                              </tr>
                              <tr>
                                <th scope="row">Email:</th>
                                <td><%=item.email %></td>
                              </tr>
                              <tr>
                                <th scope="row">Address:</th>
                                <td><%=item.address %></td>
                              </tr>
                              <tr>
                                <th scope="row">BloodGroup:</th>
                                <td><%=item.bloodGroup %></td>
                              </tr>
                              <tr>
                                <th scope="row">Submitted At:</th>
                                <td><%=item.createdAt.toISOString().slice(0,10) %></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                   
                </div>
          <% }) %>
           
        </div>
    
</body>
<!-- bs cdn  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
 <!-- jquery cdn  -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</html>