<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blood Bank</title>
        <!-- fontawesome  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- bs css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <!-- css  -->
            <link rel="stylesheet" href="/style/global.css">
     <link rel="stylesheet" href="style/header.css">

            <style>
                .bloodBank-img-wrap{
                    height: 70px;
                    width: 70px;
                    background-color: #0A5F98;
                    color: white;
                    text-align: center;
                }
                .css-display{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    gap: 10px;
                }
                .modal-header{
                    background-color: var(--mainColorLight);
                    color: white;
                }

            </style>

</head>
<body>
    <%- include('../partials/navbar') %>
    
    <div class="container" style="padding-top: 120px;">
        <!-- Modal start-->
        <!-- Modal end-->
        <h1 class="section-title fw-bold">Available <span class="color-light">BloodBanks</span></h1>
      
        <div class="bloodBank-search-wrap">
            
        <form class="row g-3" action="/bloodBank" method="get">
            <div class="col-md-6">
                <label for="province" class="form-label">Province</label>
                <select id="province" name="province" class="form-select"  onchange="updateDistricts()">
                  <option value=""></option>
                  <% provinces.forEach((province)=>{ %>
                    <option value="<%=province.name%>"><%=province.name%></option>
                 <% }) %>
                   
                </select>
            </div>
            <div class="col-md-4">
              <label for="district" class="form-label">District</label>
              <select id="district" name="district" class="form-select" onchange="updateLocalLevel()">
               
              </select>
            </div>
            <div class="col-md-2">
              <label for="localLevel" class="form-label">Local Level</label>
              <select id="localLevel" name="localLevel" class="form-select"  >
                
               
              </select>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-sm border-0">Find</button>
            </div>
          </form>
        </div>
        <div class="bloodBank-lists mt-4">
            <div class="css-display">
                <% bloodBanks.forEach((bloodBank) => { %>
                    <div class="modal fade" id='<%=bloodBank.name[0]%>' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header text-center">
                            <h5 class="modal-title" id="exampleModalLabel"><%=bloodBank.name%></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <p class="d-block w-100"> <span class="fw-bold"> Address: </span><%=bloodBank.province%>,<%=bloodBank.district%>,<%=bloodBank.localLevel%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Contact: </span><%=bloodBank.phone%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Email: </span><%=bloodBank.email%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> BloodGroup: </span><%=bloodBank.bloodGroup%></</p>
                              <p class="d-block w-100"> <span class="fw-bold"> Amount: </span><%=bloodBank.amount%></</p>

                           
                          </div>
                          <div class="modal-footer d-flex justify-content-center gap-3">
                              <button type="button" class="btn"><span><i class="fa-solid fa-phone"></i></span> </button>
                              <button type="button" class="btn"><span><i class="fa-solid fa-location-dot"></i></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" css-card d-flex gap-2 justify-content-center align-items-center shadow p-2  rounded" data-bs-toggle="modal" data-bs-target='#<%=bloodBank.name[0]%>' role="button"

                >
                  <div class="bloodBank-img-wrap d-flex justify-content-center align-items-center rounded-circle">
                   <p class="h1 m-0 p-0"><%=bloodBank.name[0]%></p>
                  </div>
                  <div class="bloodBank-info-wrap d-flex flex-column pt-3">
                    <p class="bloodBank-name fw-bold"><%=bloodBank.name%></p>
                    <p class="bloodBank-number text-success"><%=bloodBank.phone%></p>
                  </div>
                </div>
                <% }) %>
               
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  function updateDistricts() {
    let name = $('#province').val();
    if(name){
      $.get('/districtsByName', {name: name}, (data) => {
        let options = '';
        options += `<option value=""></option>`;
        data.forEach((district) => {

          options += `<option value="${district.name}">${district.name}</option>`;
        });
        $('#district').html(options);
      });
    }else{
      $('#district').html('');
    }
  }
  function updateLocalLevel() {
    let name = $('#district').val();
    if(name){
      $.get('/localLevelByName', {name: name}, (data) => {
        let options = '';
        options += `<option value=""></option>`;
        data.forEach((localLevel) => {

          options += `<option value="${localLevel.name}">${localLevel.name}</option>`;
        });
        $('#localLevel').html(options);
      });
    }else{
      $('#localLevel').html('');
    }
  }
</script>
</html>